@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

:root{
    --branco-principal: #DAD7CD;
    --verde-secundario: #3A5A40;
    --verde-terciario: #819985;
    --fonte1: "Playfair", serif;
    --fonte2:"Poppins", sans-serif;
}


.cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px 0;
    background-color: transparent;
    text-align: center;
    z-index: 1000;
}
.cabecalho__menu {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.menu__link {
    font-family: var(--fonte1);
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    transition: color 0.3s;
}
.menu__link:hover {
    color: var(--branco-principal);
}


    .menu-hamburguer {
      display: none;
      flex-direction: column;
      cursor: pointer;
      gap: 6px;
      z-index: 1001;
    }

    .menu-hamburguer span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: var(--verde-secundario);
      border-radius: 3px;
    }



.container_primario {
    height: 100vh;
    background-image: url(assets/fundo1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    position: relative;
}

.titulo {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--fonte1);
    
    font-size: 62px;
    line-height: 1;
    color: white;
    text-align: left;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    max-width: 760px;
    
}


.container_secundario {
    background-color: var(--branco-principal);
    padding: 120px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.conteudo_secundario {
    max-width: 1200px;
    margin: auto;
    content: 50px;
}

.titulo__secundario {
    font-family: var(--fonte1);
    font-size: 4em;
    color: var(--verde-secundario);
    text-align: center;
    padding: 42px;
    
}

.conteudo__descricao__primeiro {
    font-family: var(--fonte1);
    font-size: 1.3em;
    color: var(--verde-terciario);
}

.conteudo__descricao__secundario {
    font-family: var(--fonte2);
    font-size: 24px;
    color: var(--verde-terciario);
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
}


.container.terciario {
    background-image: url(assets/fundo2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 150px;
    gap: 8px;
}

.titulo__terceiro {
    font-family: var(--fonte-principal);
    font-size: 36px;
    color: var(--branco-principal);
    text-align: center;
    /* margin-bottom: 10px; */
    max-width: 280px;
    margin: -10;
    font-weight: bold;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--branco-principal);
    text-align: left;
    max-width: 280px;
    margin: -10;
    font-weight: bold;
    background-color: #3a5a40a8;
    border-radius: 5px;
}


.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.apresentacao__links__link {
    background-color: var(--branco-principal);
    color: var(--verde-secundario);
    width: 280px;
    padding: 16px 0;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fonte-principal);
    text-decoration: none;
}


/* @media (max-width: 768px) {
    .cabecalho__menu {
        flex-direction: column;
        gap: 20px;
    }
    .titulo {
        font-size: 2rem;
    }
}


@media (max-width: 768px) {
  

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--branco-principal);
    z-index: 1002;
    position: fixed;
    top: 0;
    width: 100%;
  }

    .cabecalho__menu {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--branco-principal);
    height: 100vh;
    width: 60%;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: start;
    padding-top: 80px; /* Desce para não ficar atrás do cabeçalho 
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }



    .cabecalho__menu.ativo {
    left: 0;
  }

    .menu__link {
        font-size: 18px;
    }

    .cabecalho__logo {
        color: var(--branco-principal);
        font-family: var(--fonte-terciaria);
        font-size: 24px;
    }

    .menu-hamburguer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    z-index: 1001;
  }

  .menu-hamburguer span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--verde-secundario);
    border-radius: 3px;
  }

    .menu__link {
        font-size: 18px;
    }   

  
    .apresentacao {
        padding-top: 100px;
        text-align: center;
    }
    .titulo {
        font-size: 32px;
        
        position: absolute;
        left: 180px;
        top: 50%;
        transform: translateY(-50%);
        font-family: var(--fonte-terciaria);
    }
    .apresentacao__icone {
        font-size: 48px;
        bottom: 20px;

    }


    .container_secundario {
        padding: 40px 16px;
    }
    .conteudo_secundario {
        text-align: center;
    }
    .titulo__segundo {
        font-size: 28px;
        margin-bottom: 16px;
    }
    .conteudo__descricao__primeiro,
    .conteudo__descricao__segundo {
        font-size: 16px;
    }

    
    .container.terciario {
        padding: 40px 16px;
    }
    
}

@media (max-width: 480px) {
    .titulo {
        font-size: 28px;
    }
    .titulo__segundo {
        font-size: 24px;
    }
    .conteudo__descricao__primeiro,
    .conteudo__descricao__segundo {
        font-size: 14px;
    }
}
    



@keyframes botao-scroll {
    0% {
        bottom: 100px;
    }
    100% {
        bottom: 120px;
    }
} */